<app-header></app-header>
<div class="container" id="cuadro">
<table class="table table-striped table-hover">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name </th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">password</th>
          <th scope="col">BirthDay</th>

          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of userService.list">

        <td>{{user.idUser  }} </td>
        <td>{{user.name }}</td>
        <td>{{user.lastName }}</td>
        <td>{{user.email }}</td>
        <td>{{user.password }}</td>
        <td>{{user.birthDayString}}</td>
        <td>
            <i class="far fa-edit fa-lg text-info" (click)="editar(user)" style="cursor: pointer;"></i>
        </td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="deleteUserMethod(user.idUser)" style="cursor:pointer;"></i>
        </td>
    </tr>
    </tbody>
</table>
</div>

<!-- <table class="table table-striped table-hover">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name </th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">password</th>
          <th scope="col">BirthDay</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
      </tbody>
  </table> -->
<app-footer></app-footer>
