<p>list-users works!</p>
<table class="table tamble-sm">
    <tr *ngFor="let user of userService.list">

        <td>{{user.idUser  }} </td>
        <td>{{user.name }}</td>
        <td>{{user.lastName }}</td>
        <td>{{user.email }}</td>
        <td>{{user.password }}</td>
        <td>{{user.birthDay }}6</td>
        <td>
            <i class="far fa-edit fa-lg text-info" style="cursor: pointer;"></i>
        </td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" style="cursor:pointer;"></i>
        </td>
    </tr>
</table>