
<div class="container" id="cuadro">
    <h2 class="text-center">Register</h2>
    <form class="row g-3" [formGroup]="form" (ngSubmit)="SaveUser()" >
        <div class="row g-6">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Name(s)</label>
              <input formControlName="Name" type="text" minlength="1" class="form-control" aria-label="First name" name="Name">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Last Name</label>
              <input type="text" formControlName="LastName" minlength="1" class="form-control" aria-label="Last name" name="Last Name">
            </div>
            <div class="col-md-7">
                <label for="inputEmail4" class="form-label">Birthday</label>
                <input type="date" formControlName ="BirthDay" class="form-control" id="inputEmail4" name="Birthday">
              </div>
      <br>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-envelope"></i>  </span>
          <div class="col-md-10">
            <input type="email" formControlName="Email" class="form-control"id="inputEmail4" name="Email" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>   
      </div>

    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Password </label>
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i>  </span>
          <div class="col-md-10">
            <input type="password" formControlName ="Password"minlength="6" maxlength="9" class="form-control" placeholder="password" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>         
    </div>       

    <div class="col-12">
        <br>
      <button type="submit" value="Login" [disabled]="form.invalid" class="btn btn-primary"> <i class="fas fa-database"></i> Enviar</button>
    </div>

    </div>


      </form>
    </div>
  <!-- icon of user -->
