
#imgUser{
  width: 80%;
  height: 12%;
}

 #cuadro{
     background-color: #ffffff;
     position: relative;
     z-index: 10;
     margin-left: 12%;
     padding: 50px;
     /* width: 800px; */
     width: 100%;
     height: 90%;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     border-radius: 10px;

 }
 #bgCustom{
    /* background-color: #;
    position: relative;
    width: 2000px;
    height: 700px;
    border-radius: 10px; */
    background-color: #ddeae6;
    border-radius: 10px; 
    margin-top: 1%;
    padding: 50px;
  }

    #enbededForm{
      background-color: #ddeae6;
      position: relative; 
      margin-top: 100px;
      margin-bottom: 200px;
      z-index: 10;
      padding: 50px;
      /* height: auto; */
      /* width: 600px; */
      width: 90%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
      border-radius: 10px; 
    }
    


 #cuadro1{
  background-color: #e7e7e7;
  position: relative;
  margin-top: -80px;
  z-index: 10;
  padding: 50px;
  width: 700px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  bottom: 50px;
}



