
   
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}

.carousel-caption {
    position: absolute; 
    right: 15%;
    top: 80px; 
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }

  .carousel-caption h1{
    font-size: 100px;
  }

  .carousel-caption h6{
    font-size: 25px;
  }

  .carousel-caption p{
    font-size: 20px;
  }

  .carousel-caption h1{
    font-size: 100px;
  }

 #cuadro{
     background-color: #ffffff;

     position: relative;
     z-index: 10;
     margin-left: 12%;
     padding: 50px;
     width: 800px;
     height: 90%;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     border-radius: 10px;

 }
 #bgCustom{
    background-color: #ddeae6;
    width: 2000px;
    height: 700px;
    border-radius: 10px;


 }
 #cuadro1{
  background-color: #e7e7e7;
  position: relative;
  margin-top: -80px;
  z-index: 10;
  padding: 50px;
  width: 700px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  bottom: 50px;
}


 .grid{
     display: grid;  
     grid-template-rows: minmax(500px, auto); 
 }

 #cuadro > h2{
   height: 60px;
 }

 #info {
  background-color: #e7e7e7;
  position: relative;
  margin-top: -30px;
  z-index: 10;
  padding: 50px;
  margin-bottom: 100px;
  width: 2500000px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} 

#portada{
  position: relative;
}

#portada > img{
  width: 100%;
} 

#portada > p{
  position: absolute;
  text-align: center;
  padding: 500px;
  color: #fff;
  font-size: 40px;
  bottom: 50px;
}

#cuentaBanco{
  /*display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 1em;*/
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-height: 500px;
}

#cuentas{
  height: 150px;
  margin-bottom: 25px;
  width: 800px;
  font-size: 15px;
}

#imagenCuenta{
  height: 120px;
  padding: 20px;
}

#cuentas p{
  position: relative;
  font-size: 20px;
  top: -100px;
  left: 200px;
}

#cuentas p1{
  position: relative;
  font-size: 20px;
  top: -145px;
  left: 450px;
}

#opcionesMovimientos{
  position: relative;
  height: 380px;
  width: 300px;
  font-size: 15px;
  left: 900px;
  top: -200px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

#estiloOpciones{
  border: 5px rgb(146, 146, 146);
}

#footer{
  position:static; /*mantener el footer abajo*/
  bottom: 0;

}
#enbededForm{
  background-color: #e7e7e7;
  position: relative;
  margin-top: 100px;
  margin-bottom: 200px;
  z-index: 10;
  padding: 50px;
  width: 1000px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.)
}