<!-- <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">GiftShop</a>            
    </div>

</nav> -->  
<!-- <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/> -->

<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <i class="fa-solid fa-gift"></i>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a routerLink="products" class="nav-link px-2 text-white">Products</a></li>
          <li><a routerLink="register" class="nav-link px-2 text-white">Register</a></li>
          <li><a routerLink="profile" class="nav-link px-2 text-white">Profile</a></li>
          <li><a routerLink="about" class="nav-link px-2 text-white">About</a></li>
          <li><a routerLink="listOfUsers" class="nav-link px-2 text-white">users</a></li>
          <li><a routerLink="hotSales" class="nav-link px-2 text-white">test</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>


        <div class="text-end">
          <a href="login" type="button" class="btn btn-outline-light me-2" ><i class="fas fa-user-circle" 
            ></i> Login </a>
          <!-- button hide  -->
          <button type="button" class="btn btn-warning d-none">Sign-up</button>
          <select class="form-select-sm me-2 btn btn-outline-light" aria-label=".form-select-sm example">
            <option selected> Products filter</option>
            <option value="1" > Hot Sales</option>
            <option value="2">Mistery box</option>
            <option value="3">Computer</option>
            <option value="3">Clothing</option>
          </select>
        </div>
      </div>
    </div>
  </header>
