.shop__sidebar {
    padding-right: 20px;
}
.shop__sidebar__search {
    margin-bottom: 45px;
}
.shop__sidebar__search form {
    position: relative;
}
.shop__sidebar__search form input {
    width: 100%;
    font-size: 15px;
    color: #b7b7b7;
    padding-left: 20px;
    border: 1px solid #e5e5e5;
    height: 42px;
}
.shop__sidebar__search form input::placeholder {
    color: #b7b7b7;
}
.shop__sidebar__search form button {
    color: #b7b7b7;
    font-size: 15px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    padding: 0 15px;
    top: 0;
    height: 100%;
}


.shop__sidebar__accordion .card {
    border: none;
    border-radius: 0;
    margin-bottom: 25px;
}
.shop__sidebar__accordion .card:last-child {
    margin-bottom: 0;
}
.shop__sidebar__accordion .card:last-child .card-body {
    padding-bottom: 0;
    border-bottom: none;
}
.shop__sidebar__accordion .card-body {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.shop__sidebar__accordion .card-heading {
    cursor: pointer;
}
.shop__sidebar__accordion .card-heading a {
    color: red;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
.shop__sidebar__categories ul {
    height: 225px;
}
.shop__sidebar__categories ul li {
    list-style: none;
}
.shop__sidebar__categories ul li a {
    color: #b7b7b7;
    font-size: 15px;
    line-height: 32px;
}
.shop__sidebar__categories ul li a:hover {
    color: red;
}
