
<app-header></app-header>
<div class="warpper margin-top-lg-min-1">
    <div class="content-warpper">
        <div class="card card--wrapper card--disable-shadow card--root card--disable-lg-max theme-white margin-bottom-2 ">
            <p>profile works!</p>
               
            <div class="col-4 col-md-centered-4 hidden-lg-mas padding-left-0 padding-rigth-0"> 
                part user 
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">user.idUser</li>
                    <li class="list-group-item">user.name</li>
                    <li class="list-group-item">        user.lastName</li>
                    <li class="list-group-item">User.email</li>
                    <li class="list-group-item">user.birthDayStrign</li>
                  </ul>
                
            </div>
            <div class="col-7" id="main-content" tabindex="-1">
                <div class="container" id="cuadro">
                    <h2 class="text-center">Register</h2>
                    <form class="row g-3" >
                        <div class="row g-6">
                            <div class="col-md-4">
                                <label for="inputEmail4" class="form-label">Name(s)</label>
                             </div>
                            <div class="col-md-4">
                                <label for="inputEmail4" class="form-label">Last Name</label>
                                                       </div>
                            <div class="col-md-4">
                                <label for="inputEmail4" class="form-label">Birthday</label>
                                                         </div>
                      <br>
                      <div class="col-md-4">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <div class="input-group">
                           <div class="col-md-4">
                          
                          </div>
                        </div>   
                      </div>
                
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Password </label>
                        <div class="input-group">
                           <div class="col-md-10">
                                                    </div>
                        </div>         
                    </div>       
                
                    <div class="col-8">
                        <br>
                      <button type="submit" value="Login"  class="btn btn-primary"> <i class="fas fa-database"></i> Enviar</button>
                    </div>
                
                    </div>
                
                
                      </form>
                    </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>
